[Unit]
Description=SSH Honeypot
After=network.target

[Service]
User=honeypot
Group=honeypot
WorkingDirectory=/opt/ssh-honeypot
Environment=HP_LISTEN_HOST=0.0.0.0
Environment=HP_LISTEN_PORT=2222
Environment=HP_LOG_DIR=/var/log/ssh-honeypot
Environment=HP_LOG_FORMAT=rfc5424
ExecStart=/usr/bin/python -m src.app
Restart=always
RestartSec=3
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
AmbientCapabilities=

[Install]
WantedBy=multi-user.target


